.input {
    padding: 1.6rem 3.2rem;
    background-color: $white;
    color: $darkOrange;
    border-radius: 1.2rem;
    box-shadow: 1.5rem 1.5rem 2rem $black25;
    &::placeholder {
        color: $orange;
    }
}