@import '../../styles/variables/variables';
.list-box {
  // .list-box__item

  &__item {
    @extend %flexCenterBetween;
    padding: 1.6rem 3.2rem;
    gap: 2rem;
    color: $darkOrange;
    transition: background-color 0.5s;
    &:not(:last-of-type) {
      border-bottom: 0.1rem solid $orange;
    }

    &--increase {
      & .list-box__item-btn--increase {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &--cookie {
      background-color: $lightOrange;
    }
  }

  // .list-box__item-name

  &__item-name {
    flex-grow: 1;
    cursor: pointer;
    &:focus {
      outline: 0.1rem solid #ab7003;
    }
  }

  // .list-box__item-input

  &__item-input {
    @include small-tablet {
      width: 10rem;
    }
  }

  // .list-box__item-btn-box

  &__item-btn-box {
    @extend %flexCenterBetween;
    gap: 1rem;
  }

  // .list-box__item-btn

  &__item-btn {
    width: 4rem;
    height: 4rem;
    @extend %flexCenter;
    border-radius: 0.5rem;
    transition: transform 0.5s;
    box-shadow: 0.5rem 0.5rem 1rem $black25;
    &--cookie {
      background-color: $lightOrangeBtn;
      &:hover {
        transform: scale(1.1);
      }
    }
    &--trash {
      background-color: $lightOrangeBtn;
      &:hover {
        transform: scale(1.1);
      }
    }
    &--increase {
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.5s, transform 0.5s;
      box-shadow: unset;
    }
  }

  // .list-box__item-svg-box

  &__item-svg-box {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }
}
