@import "./libs/set";
@import "./fonts/fonts";
@import './variables/variables';
@import './ui/ui';



body {
  background-color: $bg;
  color: $black;
  font-family: "Gilroy";
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

* {
  // outline:  1px solid red;
}

main {
  min-height: 100vh;
  section {
    padding: 1.5rem 0;
    &._first {
      padding: 3rem 0 1.5rem;
    }
  
  }
}

.desktop {
  display: block;
  @media (max-width: 48em) {
    display: none;
  }
}

.mobile {
  display: none;
  @media (max-width: 48em) {
    display: block;
  }
}
